* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1321px;
    margin: 35px auto;
}

.banner-div {
    height: 646px;
    background-color: black;
    border-radius: 30px;
    display: flex;
}

.banner-left {
    width: 531px;
    height: 424px;
    margin: 111px 24px 111px 106px;
}


.banner-left h1 {
    font-size: 70px;
    color: white;
    font-weight: 900;
   

}


.banner-left p {
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
}

.banner-left button {
    width: 187px;
    height: 56px;
    background-color: white;
    border-radius: 5px;
    border-style: none;
    color: black;
    transition: 0.4s ease-in-out;
}

.fa-angle-right {
    margin-left: 15px;

}


.banner-left button:hover {

    background-color: #DD0000;
    color: white;

}

.banner-right {
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-right: 79px;
}

.banner-right img {
    width: 100%;
}

.vs-section {
    margin-top: 130px;
}

.vs-div {
    display: flex;
}

.upcoming-div {
    width: 312px;
    height: 312px;
    border: 1px solid;
    background-color: black;
    border-radius: 10px;
    text-align: center;
}

.button-group {
    width: 252px;
    height: 252px;
    margin: 0px 30px 30px;   
}

.button-group a {
    text-decoration: none;
    color: black;
}

.upcoming-regular {
    width: 252px;
    height: 64px;
    border-radius: 10px;
    background-color: white;
    margin-top: 30px;
    color: black;
    font-size: 20px;
    font-weight: 300;
    border-style: none;
    transition: 0.4s ease-in-out;
}

.upcoming-regular:hover {
    background-color: #DD0000;
    color: white;
    
}


.vs-parent {
    width: 984px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    margin-left: 24px;
    margin-bottom: 100px;

}


.vs-card {
    width: 312px;
    height: 242px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px lightslategray;
    text-align: center;
    padding: 1px;


}


.vs {
    width: 252px;
    height: 56.18px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 53px 30px 0px 30px;
}

.vs h3 {
    margin-bottom: 20px;
}

.vs-card h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.vs-card p {
    margin-top: 10px;
    font-size: 16px;
}

/* blog page */

.blog-parent {
    width: 984px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    margin-left: 24px;
    margin-bottom: 100px;

}

.blog-card {
    width: 312px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px lightslategray;
    padding: 1px;
}

.blog-btn {
    margin-top: 20px;
    width: 100px;
    height: 32px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    border-style: 1px solid black;
    background-color: transparent;

}

.blog-img{
    height: 175px;
}

.blog-img img {
    width: 100%;
}

.blog-info {
    margin: 20px;
}

.blog-info p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
}

.clock-chat {
    width: 143px;
    height: 26px;
    display: flex;
    justify-content: space-between;

}

/* View All button */



.view-btn {
    display: none;
    width: 131px;
    height: 47px;
    border-radius: 10px;
    background-color: white;
    margin-top: 30px;
    color: black;
    font-size: 20px;
    font-weight: 300;
    border-style: none;
    transition: 0.4s ease-in-out;
    border: 1px solid;
}

.view-btn:hover {
    background-color: #DD0000;
    color: white;
    
}


/* footer */

footer {
    width: 100%;
    height: 444px;
    background-color: black;
    text-align: center;
    padding: 5px;
}

footer h3 {
    font-size: 40px;
    color: white;
    font-weight: 600;
    margin-top: 125px;
}

footer hr {
    width: 1320px;
    margin: 50px auto;
    border: 0.1px solid #B9B9B9;
}

footer li {
    font-size: 16px;
    display: inline;
    margin: 0px 20px;
    
}

footer a {
    text-decoration: none;
    color: white;
    color: #B9B9B9;
}


.fa-brands {
    color: white;
    margin-top: 30px;
    transition: 0.4s ease-in-out;
}

.fa-brands:hover {
    color: #DD0000;
}

/* Tab View */

@media screen and (min-width: 668px) and (max-width: 992px) {

    .container {
        width: 734px;
        margin: 50px auto;

    }

    .banner-div {
        height: 398px;
        
    }

    .banner-left {
        width: 316px;
        height: 276px;
        margin: 61px 0px 61px 76px;
    }

    .banner-left h1 {
        font-size: 40px;
        color: white;
        font-weight: 600;
        line-height: 40px;
       
    
    }
    
    .banner-left p {
        width: 316px;
        height: 48px;
        font-size: 14px;
        color: white;
        margin-bottom: 70px;
        margin-top: 20px;
    }

    .banner-right {
        width: 323px;
        height: 340px;
        margin-top: 58px;
        margin-right: 17px;
    }

    .vs-div {
        display: block;
    }

    .upcoming-div {
        width: 734px;
        height: 100px;
        background-color: transparent;
        border: none;
        margin-top: -70px;
        margin-bottom: 30px;
        
    }
    
    .button-group {
        height: 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
    
    .button-group a {
        text-decoration: none;
        color: black;
    }
    
    .upcoming-regular {
        width: 180px;
        height: 64px;
        border-style: none;
        border: 1px solid;
        margin-top: 20px;
        margin-left: 30px;
       }

    .blog-parent {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;

    }

    .blog-card {
        width: 350px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px lightslategrey;
        padding: 1px;
        margin-left: -22px;
    }

    .view-btn {
        display: block;
        margin: 0px auto;
    }

    footer {
        width: 100%;
        height: 345px;
    }

    footer h3 {
        margin-top: 70px;
    }

    footer hr {
        margin-top: 30px;
    }


    footer ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer li {
        display: inline;
        list-style: none;
        padding: 0 25px;
    
    }


    
}

/* Mobile View */

@media screen and (max-width: 667px) {
   
    .container {
        width: 334px;
        margin: 44px auto;
    }

    .banner-div {
        height: 492px;
        border-radius: 10px;
        display: block;
    }
    
    .banner-left {
        padding-top: 20px;
        width: 258px;
        height: 178px;
        margin: 38px 38px 21px;
    }

    .banner-right {
        width: 233px;
        height: 245px;
        margin-top: 40px;
        margin-right: 79px;
        justify-content: center;
        
    }

    .banner-left h1 {
        font-size: 22px;
        color: white;
        font-weight: 900;
        line-height: 20px;
        text-align: center;
       
    
    }
    
    .banner-left p {
        font-size: 14px;
        color: white;
        margin-bottom: 5px;
        line-height: 20px;
        text-align: center;

    }
    
    .banner-left button {
        width: 161px;
        height: 40px;
        background-color: white;
        border-radius: 5px;
        border-style: none;
        color: black;
        transition: 0.4s ease-in-out;
        /* margin-top: -20px; */
        text-align: center;
        margin-left: 50px;

    }
    
   .banner-right {
       margin: 48px auto;
   }

   .vs-div {
    display: block;
    }

    .upcoming-div {
        background-color: transparent;
        margin-top: -100px;
        margin-left: 10px;
        border: none;
    }

    .upcoming-regular {
        border: 1px solid;
    }


    .blog-parent {
        grid-template-columns: repeat(1, 1fr);

    }

    .blog-card {
        width: 335px;
        height: 389px;
        margin-left: -25px;
    }

    footer {
        width: 100%;
    }

    footer h3 {
        margin: 24px auto;
    }

    footer hr {
        margin-top: 24px;
        width: 335px;
    }

    .contact-ul li {
        display: block;
        margin-top: 10px;
    }


    }